@model IEnumerable<KhoaLuan.Models.Criterion>
@{
	ViewBag.Title = "Tất cả thẻ tiện nghi";
	ViewBag.PageIndex = 3;
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100"
	 style="padding-bottom: 65px;">
	<div class="container-fluid">
		<center>
			<h3 style="padding-top:20px;">Danh Sách Tất Cả Các Thẻ Tiện Nghi</h3>
		</center>
		<br>
		<button type="button" class="btn btn-outline-success btn-sm" style="padding-top: 7px; width: 100px; margin-bottom: 8px" data-toggle="modal" data-target="#addCriteria">
			<span style="font-weight: 500; color: black"><i class="fa fa-plus" style="font-size:15px"></i> Thêm mới</span>
		</button>
		<br>
		<div class="" style="overflow-x: scroll">
			<table class="table table-hover table-bordered w-100" style="min-width: 850px">
				<thead class="thead-default" style="background-color: #393836; color: #fff;">
					<tr>
						<th>STT</th>
						<th>Mã tiêu chí</th>
						<th>Tên tiêu chí</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="d">
					@{var stt = 1;
						if (ViewBag.PageNumber > 1)
						{
							stt = (ViewBag.PageNumber - 1) * 8 + 1;
						}
					}
					@foreach (var item in Model)
					{
						<tr class="criteria-row" id="@item.CriteriaID" criteriaID="@item.CriteriaID" style="cursor: pointer">
							<td scope="row" id="stt@{Write(stt);}">@stt</td>
							<th id="criID@{ Write(item.CriteriaID); }">@item.CriteriaID</th>
							<td id="criteriaName@{ Write(item.CriteriaID); }">@item.CriteriaName</td>
							<td>
								<button data-toggle="modal" data-target="#modalDel" class="criteria-del btn btn-sm btn-default"
										criteriaID="@item.CriteriaID" id="del@{Write(stt); }" stt="@stt">
									Xoá
								</button>
								<button data-toggle="modal" data-target="#myModalEdit" class="criteria-edit btn btn-sm btn-default"
										criteriaID="@item.CriteriaID" id="edit@{Write(stt); }">
									Sửa
								</button>
							</td>
						</tr>
						stt++;
					}
				</tbody>
			</table>
		</div>
	</div>
	<span style="display:none" id="max-row">@{Write(stt - 1); }</span>
	@{
		if (ViewBag.TotalPage > 1)
		{
			<!-- ##### Pagination ##### -->
			<nav aria-label="Page navigation" class="position-fixed"
				 style="width: 90%; bottom: 0; background: #f9f9f9; padding-top: 10px;">
				<ul class="pagination justify-content-center">
					@if (ViewBag.PageNumber <= 1)
					{
						<li class="page-item disabled">
							<a class="page-link" href="~/Admin/AllPost?pageNumber=@{Write(ViewBag.PageNumber - 1);} " aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
					}
					else
					{
						<li class="page-item">
							<a class="page-link" href="~/Admin/AllCriteria?pageNumber=@{Write(ViewBag.PageNumber - 1);} " aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
					}
					@for (int i = 1; i <= ViewBag.TotalPage; i++)
					{
						if ((ViewBag.PageNumber == i) || (ViewBag.PageNumber < 1))
						{
							<li id="page" class="page-item active">
								@Html.ActionLink(i.ToString(), "AllCriteria", "Admin", new { PageNumber = i }, htmlAttributes: new { @class = "page-link" })
							</li>
						}
						else
						{
							<li id="page" class="page-item">
								@Html.ActionLink(i.ToString(), "AllCriteria", "Admin", new { PageNumber = i }, htmlAttributes: new { @class = "page-link" })
							</li>
						}
					}
					@if (ViewBag.PageNumber == ViewBag.TotalPage)
					{
						<li class="page-item disabled">
							<a class="page-link" href="~/Admin/AllCriteria?pageNumber=@{Write(ViewBag.PageNumber + 1);}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					}
					else
					{
						<li class="page-item">
							<a class="page-link" href="~/Admin/AllPost?pageNumber=@{Write(ViewBag.PageNumber + 1);}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					}
				</ul>
			</nav>
		}
	}
</div>

<div class="card-body text-center">
	<!-- Modal-->
	<div id="modalDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
		<div role="document" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="exampleModalLabel" class="modal-title">Thông báo</h5>
					<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body">
					<p>Bạn có muốn xoá không.</p>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-secondary">Huỷ</button>
					<button type="button" class="btn btn-primary" id="del-confirm" style="width:120px">
						<span id="xoa1" style="display:block">Xoá</span>
						<span id="xoa2" style="display:none">
							<i class="fa fa-spinner fa-spin"></i> Đang xoá
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card-body text-center">
	<!-- Modal-->
	<div id="myModalEdit" tabindex="-1" keyboard="false" role="dialog" aria-labelledby="exampleModalLabelEdit" aria-hidden="true" class="modal fade text-left">
		<div role="document" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="exampleModalLabelEdit" class="modal-title">Chỉnh sửa tên tiện nghi</h5>
					<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
				</div>
				<div class="modal-body">
					<input size="50" id="criteriaName" name="criteriaName" type="text" placeholder="Nhập tên tiện nghi" class="mr-3 form-control">
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-secondary">Huỷ</button>
					<button type="button" class="btn btn-primary" id="btn-save" style="width: 120px">
						<span id="sua1" style="display:block">Lưu</span>
						<span id="sua2" style="display:none">
							<i class="fa fa-spinner fa-spin"></i> Đang lưu
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.form-control {
		display: block !important;
		width: 100% !important;
		height: calc(2.25rem + 2px);
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
	}
</style>

<div id="addCriteria" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Thêm Mới Tiêu Chí Tìm kiếm</h4>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<form id="formAdd" class="form-inline" onsubmit="return validateFormAddCriteria()" action="AddCriteria" method="post">
					<div class="form-group" style="width:100%">
						<input onfocus="inputAddCriteriaFocus()" id="currentCriteriaName" name="criteriaName" type="text" placeholder="Nhập tên tiện nghi" class="form-control">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div style="margin-right:auto; margin-left: 2%; color:red; font-style:inherit; font-size: smaller">
					<span id="errorAddCriteria"></span>
				</div>
				<button id="them" type="submit" onclick="submitForm()" value="1" class="mr-3 btn btn-primary">Thêm Mới</button>
			</div>
		</div>
	</div>
</div>

<script>
	function validateFormAddCriteria() {
		var x = document.getElementById("currentCriteriaName").value;
		if (x.length <= 0) {
			document.getElementById("currentCriteriaName").style = "border-color: red";
			document.getElementById("errorAddCriteria").innerHTML = "Không được để trống";
			return false;
		} else {
			return true;
		}
	}
	function submitForm() {
		if (validateFormAddCriteria()) {
			document.getElementById('formAdd').submit();
		}
	}
	function inputAddCriteriaFocus() {
		document.getElementById("currentCriteriaName").style = "border-color: black";
		document.getElementById("errorAddCriteria").innerHTML = "";
	}
</script>