@model KhoaLuan.ViewModels.HomeModel
@{
	ViewBag.Title = "Trang chủ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	var listProvince = Model.ListProvince;
	var listCriteria = Model.ListCriteria;
}
<span style="display: none" id="totalCriteria">@listCriteria.Count</span>
<link rel="stylesheet" href="~/Content/Custom/index.css" />
@{ 
	KhoaLuan.Models.Info address = null;
	if (Session["address"] != null)
	{
		address = Session["address"] as KhoaLuan.Models.Info;
	}
}
<!-- ##### Search form ##### -->
<div class="container">
	<div class="row content">
		<div class="col-md-6 col-sm-0">
			<!-- nothing -->
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="my-search-form">
				<center class="w-100">
					<h2 class="my-text-primary">
						Xin Chào Bạn !!!
					</h2>
				</center>
				<!-- Form body -->
				<div>
					@using (Html.BeginForm("SearchResult", "Posts", FormMethod.Post, new { @class = "form p-3" }))
					{
						<!-- Chon tinh thanh pho -->
						<div class="row">
							<div class="form-group col-12">
								<select name="province" id="province" class="form-control form-control-sm cursor">
									<option value="0">Chọn Tỉnh/Thành phố</option>
									@{
										foreach (var item in listProvince)
										{
											if (address != null && item.ProvinceID == address.ProvinceID)
											{
												<option selected value="@item.ProvinceID">
													@item.ProvinceName
												</option>
											}
											else
											{
												<option value="@item.ProvinceID">
													@item.ProvinceName
												</option>
											}
										}
									}
								</select>
							</div>
						</div>

						<!-- Chon quan huyen -->
						<div class="row">
							<div class="form-group col-12" id="townshipSelect">
								<select name="district" id="district" class="form-control form-control-sm cursor">
									@if (address != null && Session["districtName"]!=null)
									{
										var districtName = Session["districtName"].ToString();
									<option selected value="@address.DistrictID">@districtName</option>
									}
									else
									{
										<option value="0">Chọn Quận/Huyện</option>
									}
								</select>
							</div>
						</div>

						<!-- Tim nang cao -->
						<div id="accordianId" role="tablist" aria-multiselectable="true">
							<div id="searchAdvance">
								<!-- Tim nang cao -->
								<div id="sectionContentId" class="collapse in" role="tabpanel" aria-labelledby="sectionHeaderId"
									 style="padding-top: 10px;">

									<div style="border-top: solid 1px #ccc; position: relative; margin-bottom: 10px">
										<a style="position: absolute; top: -12px; left: 50%;transform: translateX(-50%);
                                        background: #fff; font-weight: normal; font-size: 14px;"
										   data-toggle="collapse" data-parent="#accordianId" href="#sectionContentId">Tùy chọn thêm</a>
									</div>

									<!-- Gia thue nha -->
									<div class="row">
										<div class="form-group col-sm-12 col-md-12">
											<label class="mr-3" style="display: inline-block;">Mức giá tối đa : </label>
											<p class="" style="display: inline-block; font-size: 20px; color: #000">
												<b id="notiprice">1.000.000 ₫ </b>
											</p>
											<div class="slidecontainer" id="scrollPrice">
												<input type="range" name="price" id="priceSlider" disabled min="500000" max="3000000"
													   step="100000" value="1000000" class="slider cursor">
											</div>
										</div>
									</div>

									<!-- Dien tich -->
									<div class="row">
										<div class="form-group col-12">
											<label style="display: inline-block;">Diện tích tối đa : </label>
											<p class="mx-3" style="display: inline-block; font-size: 20px; color: #000">
												<b id="notiarea">20</b> (m
												<sup>2</sup>)
											</p>
											<div class="slidecontainer" id="scrollArea">
												<input type="range" name="area" id="areaSlider" disabled min="10" max="40"
													   value="20" step="5" class="slider cursor">
											</div>
										</div>
									</div>

									<label>Tiện nghi :</label>
									<div style="overflow-x: hidden; height: 120px;">
										<div class="row">
											@foreach (var item in listCriteria)
											{
												<div class="form-group col-sm-12 col-md-6">
													<label class="my-checkbox-container" id="">
														Có @{Write(item.CriteriaName);}
														<input id="criteria@{Write(item.CriteriaID);}" value="@{Write(item.CriteriaID);}" type="checkbox" name="criteria@{Write(item.CriteriaID);}" disabled>
														<span class="checkmark"></span>
													</label>
												</div>
											}
										</div>
									</div>
								</div>

								<input hidden id="isSearchAdvance" type="number" disabled name="isSearchAdvance" value="1">
							</div>
							<!-- Tim kiem button -->
							<center class="mt-3 mb-3">
								<input type="submit" class="btn btn-sm my-btn-primary w-100" value="Tìm kiếm">
							</center>

							<!-- Toggle tim kiem nang cao -->
							<a id="optionAdvance" data-toggle="collapse" data-parent="#accordianId" href="#sectionContentId"
							   style="font-weight: normal; font-size: 12px; float: right;" aria-expanded="true"
							   aria-controls="sectionContentId">
								Tìm nâng cao &nabla;
							</a>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

